nodered-dashboard
[
    {
        "id": "c6cf1163095b0263",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3803c30d6d24fa88",
        "type": "serial in",
        "z": "c6cf1163095b0263",
        "name": "",
        "serial": "ddeb3e54cb45532d",
        "x": 380,
        "y": 300,
        "wires": [
            [
                "aae9d6fca30e018b"
            ]
        ]
    },
    {
        "id": "aae9d6fca30e018b",
        "type": "function",
        "z": "c6cf1163095b0263",
        "name": "",
        "func": "var splitmsg = msg.payload.split(\",\");\nvar msg1 = {payload : parseFloat(splitmsg[0])};\nvar msg2 = {payload : parseFloat(splitmsg[1])};\nvar msg3 = {payload : parseFloat(splitmsg[2])};\n\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 300,
        "wires": [
            [
                "014d39547c090d76",
                "eb88e2a4da442666"
            ],
            [
                "ab17f1540017782e",
                "715c6062d4fe590c"
            ],
            [
                "a7d41f7264ed00bf",
                "f1afcc736362b83c"
            ]
        ]
    },
    {
        "id": "014d39547c090d76",
        "type": "ui_gauge",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "91e489549274286b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%H",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "eb88e2a4da442666",
        "type": "ui_chart",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "334fdc85b5f70133",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab17f1540017782e",
        "type": "ui_gauge",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "91e489549274286b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "715c6062d4fe590c",
        "type": "ui_chart",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "334fdc85b5f70133",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "a7d41f7264ed00bf",
        "type": "ui_gauge",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "91e489549274286b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 940,
        "y": 380,
        "wires": []
    },
    {
        "id": "f1afcc736362b83c",
        "type": "ui_chart",
        "z": "c6cf1163095b0263",
        "name": "",
        "group": "334fdc85b5f70133",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3b6962284da7ec74",
        "type": "mqtt in",
        "z": "c6cf1163095b0263",
        "name": "",
        "topic": "myreskill/testing",
        "qos": "2",
        "datatype": "auto",
        "broker": "489361ac121117e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "aae9d6fca30e018b"
            ]
        ]
    },
    {
        "id": "ddeb3e54cb45532d",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "91e489549274286b",
        "type": "ui_group",
        "name": "Gauge",
        "tab": "8530971bf59683fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "334fdc85b5f70133",
        "type": "ui_group",
        "name": "Chart",
        "tab": "8530971bf59683fe",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "489361ac121117e6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8530971bf59683fe",
        "type": "ui_tab",
        "name": "Room Monitoring Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
