nodered-flow.txt
[{"id":"633a4078.4982","type":"tab","label":"IoT Nodes","disabled":false,"info":""},{"id":"4d623436.9200ac","type":"mqtt in","z":"633a4078.4982","name":"","topic":"ss/sense","qos":"2","datatype":"auto","broker":"9df0131b.3d902","x":100,"y":100,"wires":[["f697ac35.ad6ee"]]},{"id":"9192e2c4.5c8cb","type":"debug","z":"633a4078.4982","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":100,"wires":[]},{"id":"dab103b5.c255f8","type":"inject","z":"633a4078.4982","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":130,"y":300,"wires":[["216f243.adf165c"]]},{"id":"216f243.adf165c","type":"mqtt out","z":"633a4078.4982","name":"","topic":"ss/lamp/status","qos":"","retain":"","broker":"9df0131b.3d902","x":320,"y":320,"wires":[]},{"id":"c49bf93f.f3e83","type":"function","z":"633a4078.4982","name":"","func":"var humi = {payload: msg.payload.humidity};\nvar temp = {payload: msg.payload.temperature};\n\n\nreturn [humi, temp];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["ab3d9e67.a62ad","a2187236.130f9"],["db066d11.e285","4e5d4418.1e0dfc"]]},{"id":"f52d274c.673d98","type":"inject","z":"633a4078.4982","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"str","x":130,"y":340,"wires":[["216f243.adf165c"]]},{"id":"f697ac35.ad6ee","type":"json","z":"633a4078.4982","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["9192e2c4.5c8cb","c49bf93f.f3e83"]]},{"id":"ab3d9e67.a62ad","type":"ui_gauge","z":"633a4078.4982","name":"","group":"29b5268e.15cdaa","order":1,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"90","x":580,"y":140,"wires":[]},{"id":"db066d11.e285","type":"ui_gauge","z":"633a4078.4982","name":"","group":"29b5268e.15cdaa","order":2,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"35","seg2":"70","x":590,"y":220,"wires":[]},{"id":"a2187236.130f9","type":"influxdb out","z":"633a4078.4982","influxdb":"86ca46a0.0a277","name":"humidity","measurement":"humidity","precision":"","retentionPolicy":"","x":580,"y":180,"wires":[]},{"id":"4e5d4418.1e0dfc","type":"influxdb out","z":"633a4078.4982","influxdb":"86ca46a0.0a277","name":"temperature","measurement":"temperature","precision":"","retentionPolicy":"","x":590,"y":260,"wires":[]},{"id":"9df0131b.3d902","type":"mqtt-broker","z":"","name":"afk-broker","broker":"amirulfk.my","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29b5268e.15cdaa","type":"ui_group","z":"","name":"Workshop","tab":"bd58aa64.2ac138","order":1,"disp":true,"width":"12","collapse":false},{"id":"86ca46a0.0a277","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mydb","name":"","usetls":false,"tls":""},{"id":"bd58aa64.2ac138","type":"ui_tab","z":"","name":"HP Nodes","icon":"dashboard","disabled":false,"hidden":false}]