Weather-API
[{"id":"3f7e3a00.e15716","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b4704ef4.40d69","type":"inject","z":"3f7e3a00.e15716","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["4d766da5.3fd0e4"]]},{"id":"4d766da5.3fd0e4","type":"http request","z":"3f7e3a00.e15716","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?id=1735634&units=metric&APPID=0ed4e8a4cad5f4f258d82df265a2b978","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":120,"wires":[["ebdf0c94.a791"]]},{"id":"ebdf0c94.a791","type":"debug","z":"3f7e3a00.e15716","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":120,"wires":[]}]
